/* 初始化页面，清除所有元素的内外边距 */
* {
    padding: 0;
    margin: 0;
    /* 设置背景颜色为414141 */
    background-color: #414141;
}

/* 盒子居中 */
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 使用上期视频的文字渐变效果，再加一点点文字阴影 */
span,
h3 {
    font-size: 40px;
    text-shadow: 0 0 10px #dfd8d8;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: ff 0.9s linear infinite; */
}

#name {
    display: block;
    height: 185px;
    width: 100%;
}

/* @keyframes ff {
    to {
        filter: hue-rotate(360deg);
    }
} */

/* 设置一下字体大小 */
h2 {
    font-size: 72px;
}

span {
    font-size: 46px;
}


/* 按钮居中 */
button {
    position: absolute;
    font-size: 20px;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 70px;
    border-radius: 8px;
    border: 1px solid #2a2a2a;
    /* 取消轮廓线 */
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 122);
}